
.containerCadastro{
    margin-top: 200px;
    padding: 30px;
    border: solid 1px #c0bcbc;
    border-radius: 15px;
    box-shadow: (1,15,1);
    box-shadow: 10px 8px 9px 9px #888888;
}

.containerCadastro input,
.containerCadastro select{
    border: solid 1px #c0bcbc;
}

