  * {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Play', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/

    box-sizing: border-box;
    flex-wrap: wrap;

  }

  /******************FORMATAÇÃO GERAL*****************/

  html {
    background-color: #282E48;
  }

  /******************HEADER**************************/
  header {
    height: 500px;
    background-image: url("/img/profile-banner-home.png");
    background-repeat: no-repeat;
    background-position-y: -30px;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 20px;    
  }

  .logo-marca-site img {
    height: 90px;
    margin-top: -25px;
  }

  .menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu li {
    margin-left: 20px;
  }

  .menu a {
    text-decoration: none;
  }

  #portfolio-title {

    padding-top: 150px;
    font-size: 2em;
    display: block;
    text-align: center;
    align-content: center;

  }

  #portfolio-title h1,
  #portfolio-title h3 {
    background-color: #282E48;
  }

  /******************POST 1 - WHO AM I*****************/

  #container-post-1 div{
    text-align: center;
    width: 100vmin;
    padding: 10px 30px;
    line-height: 1.7em;

  }

  #container-post-1 {
    display: flex;
    justify-content: center;

  }


/*********************Projetos*************************/
  .data-projects div{
    display: inline-block;
    width: 20%;
    text-align: center;
    border: dotted;
    box-sizing: border-box;
    margin: 30px;
    align-items: center;
    align-content:center;
    
  }

  .data-projects h3{
    font-size: 2.5em;
  }

  .data-projects p{
    height: 80px;
    text-align: center;
    align-content: center;


  }



  .container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d9d9d9;
    width: 400px;
    margin: 0 auto;
  }

  label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input[type="text"] {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  button:hover {
    background-color: #3e8e41;
  }





  /*
display: flex; define um container flexível para os elementos.
justify-content: space-between; alinha a logo à esquerda e o menu à direita.
align-items: center; alinha verticalmente os elementos no centro.
.logo img define o tamanho da imagem da logo.
.menu ul define um container flexível para a lista de menu.
justify-content: flex-end; alinha os itens da lista de menu à direita.
.menu li adiciona uma margem entre os itens da lista.
.menu a define a cor do texto dos links e remove o sublinhado padrão.*/