/************** ALL PAGE ****************/


nav a:hover{
    font-weight:700;
}

/************* START NAVBAR *******************/
    .navbar-fixed-and-scroll
    .navbar-brand img{ 
        width: 200px;
    }

    .navbar-fixed-and-scroll
    .access-classroom{
        margin-inline: 20px;
    }

    .access-classroom{
        display: flex;
        padding: 20px;    
    }

    .search::-webkit-input-placeholder{
        color:rgb(199, 199, 199);
        font-size: 14px;
    }
/*********************************************/


/********** START FOOTER *********************/


footer {
    position:static;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
    .footer{
        background-color: rgb(100, 100, 109);
        color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: 150px;
    }

    .fa-facebook-square,
    .fa-instagram-square,
    .fa-whatsapp-square,
    .fa-linkedin{
        color: rgb(255, 255, 255);
        width: 40px;
    }

    ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    .text-center{
        font-size: 12px;
        font-weight: 100;

    }
/******************************************/

/* MSG AUTHENTICATION */

    .msg-container {
        position: fixed;
        padding: 15px;
        margin-top: 90px;
        width: 100%;
    }

    .msg {

        width: 60%;
        margin: 0 auto;
        padding: 20px;
        border: solid 1px #000;
        text-align: center;
    }

    .msg.error {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
    }

    .msg.sucess {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
    }
