
/********** NAVEGAÇÃO DO SITE *************/
/* *{
    border: solid 1px;
    text-decoration: none;
} */

a:hover{
    text-shadow: 5px 5px 10px black;
}

/********** NAVEGAÇÃO DO SITE *************/
.navbar-fixed-and-scroll{
    
}

.navbar-fixed-and-scroll .navbar-brand img{
    width: 200px;
}

.navbar-fixed-and-scroll div .access-classroom{
    margin-inline: 20px;
}

/********** VOLTAR AO TOP ****************/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

/********** NAVEGAÇÃO DO SITE *************/
.carousel-opening-3-img,
.container-text-presentation,
.container-highlights{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* ===================================================================== */
/* ============================LOGIN================================= */
/* ===================================================================== */

.form-login-acess{
    margin-top: 250px;
    margin-bottom: 250px;
}

.form-login-acess .col-lg-3{
    padding: 30px;
    border: solid 1px;
    border-radius: 0.5rem;
}

.form-login-acess .button{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-login-acess button{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: green;
}