/********** Navegação geral da tela de login *************/

*{
    /* border: solid 1px; */
    
}

nav a:hover{
    font-weight:700;
}

/********** barra de navegação *************/
.navbar-fixed-and-scroll .navbar-brand img{ 
    width: 200px;
}

.navbar-fixed-and-scroll div .access-classroom{
    margin-inline: 20px;
}

.access-classroom{
    display: flex;
    padding: 20px;    
}